/* src/app/components/item-grid/item-grid.component.scss */

.item-grid {
  margin-top: 50px;
  //background: yellow;
  width: 1198px;
  margin-left: auto; /* Centers the grid horizontally */
  margin-right: auto; /* Centers the grid horizontally */

  .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #0B2434;
    text-align: center; /* Centers the title text */
    margin-bottom: 20px;
  }

  .tour-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 30px;
  }
}
