<!-- tour-item.component.html -->

<div class="tour-item">

  <div class="up">
    <img [ngSrc]="tour.imageUrl" alt="Tour preview image" [width]="450" [height]="312"/>
  </div>

  <div class="down sora-font">

    <span class="tour-title">{{ tour.name }}</span>

    <div *ngFor="let option of tour.options" class="option-box">

      <div class="option-header">

        <span class="option-title">
          <span>{{ option.name }}</span>
        </span>

        <div class="price-info">

          <span class="price-and-suffix">

            <span class="price">{{ option.price.value + option.price.currency }}</span>

            <span class="suffix">/{{ option.price.suffix }}</span>

          </span>

          <span class="duration">{{ option.duration }}</span>

        </div>

      </div>


      <ng-container *ngFor="let perk of option.perks">

        <span class="perk">
          <img [ngSrc]="'/assets/icons/check-circle.svg'" alt="circled-check icon" height="20" width="18">
          {{ perk.perk }}
        </span>

        <span class="feature" *ngFor="let feature of perk.features">

          <img [ngSrc]="'/assets/icons/check.svg'" alt="check icon" width="16" height="20">
          {{ feature }}
        </span>

      </ng-container>

      <span class="side-note">
        <span [style.color]="'#E68037'">**</span>
        {{ option.sideNote }}
      </span>

    </div>

  </div>

</div>

