
.action-button {

  //position: absolute;
  //left: 50vw;
  //top: 50vh;
  //transform: translate(-50%, -50%);
  //
  padding: 20px 30px;
  background-color: #E5E7CB;
  border-radius: 4px;
  cursor: pointer;
  color: #0B2434;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  margin-top: 50px;
}
