<!-- tour-preview.component.html -->

<div class="tour-preview sora-font">

  <!--  left side -->

  <div class="img-holder">

    <img [ngSrc]="tour.imageUrl" alt="Tour Preview Image" [width]="450" [height]="570"/>

    <div class="tour-info">

      <span class="tour-name">{{ tour.name }}</span>
      <span class="tour-description">{{ tour.description }}</span>

    </div>

  </div>

  <!-- right side -->

  <div class="options sora-font">

    <span class="tour-title">{{ tour.name }}</span>

    <div *ngFor="let option of tour.options" class="option-box">

      <div class="option-header">

        <span class="option-title">
          <span>{{ option.name }}</span>
        </span>

        <div class="price-info">

          <span class="price-and-suffix">

            <span class="price">{{ option.price.value + ' ' + option.price.currency }}</span>

            <span class="suffix">/{{ option.price.suffix }}</span>

          </span>

          <span class="duration">{{ option.duration }}</span>

        </div>

      </div>


      <ng-container *ngFor="let perk of option.perks">

        <span class="perk">
          <img ngSrc="assets/icons/check-circle.svg" alt="circled-check icon" height="20" width="18">
          {{ perk.perk }}
        </span>

        <span class="feature" *ngFor="let feature of perk.features">
          <img ngSrc="assets/icons/check.svg" alt="check icon" width="16" height="20">
          {{ feature }}
        </span>

      </ng-container>

      <span class="side-note">{{ option.sideNote }}</span>

    </div>
  </div>

</div>

