
<!-- basic-offer.component.html -->

<div class="basic-offer">

  <div class="top sora-font">

    <div>

      <div class="group-1">

        <img class="preview" ngSrc="../../assets/basic-offer/basic-offer-preview.svg" height="4000" width="6000" alt="img">

        <div class="sub-group">

          <span class="main-title">BASIC OFFER</span>

          <span class="check-point">

            <img [style.transform]="'translateY(-1px)'" alt="check-circle-icon"
                 ngSrc="../../assets/icons/check-circle.svg" height="20" width="18">
            Seven-Day Accommodation With Breakfast
          </span>

          <span class="check-point">
            <img [style.transform]="'translateY(-1px)'" alt="check-circle-icon"
                 ngSrc="../../assets/icons/check-circle.svg" height="20" width="18">
            A City Tour Accompanied By A Tour Guide
          </span>

          <div class="check-point ">
            <img [style.transform]="'translateY(-1px)'" alt="check-circle-icon"
                 ngSrc="../../assets/icons/check-circle.svg" height="20" width="18">
            <span> Transfer From Tivat Airport To The Accommodation </span>
          </div>

          <span class="check-point">
            <img [style.transform]="'translateY(-12px)'" alt="check-circle-icon"
                 ngSrc="../../assets/icons/check-circle.svg" height="20" width="18">
            Transports From Other Airports Can Be Arranged For An Additional Fee.
          </span>

        </div>

      </div>

      <span class="bg-color">Reservations For 2 Or More People, Dinner At Local Winery is included.</span>


    </div>


    <div class="divider"></div>

    <div class="group-2">
      <span class="section-title">Discount Based On Number Of People:</span>

      <span class="check-point">
            <img alt="check-circle-icon" ngSrc="../../assets/icons/check-circle.svg" height="20" width="18">
            10% Off For 2 People
      </span>

      <span class="check-point">
            <img alt="check-circle-icon" ngSrc="../../assets/icons/check-circle.svg" height="20" width="18">
            15% Off For 2 People
      </span>

      <span class="check-point">
            <img alt="check-circle-icon" ngSrc="../../assets/icons/check-circle.svg" height="20" width="18">
            20% Off For 2 People
      </span>

      <span class="section-title">Discounts for Children</span>

      <span class="check-point">
            <img alt="check-circle-icon" ngSrc="../../assets/icons/check-circle.svg" height="20" width="18">
            Children Up To 2 Years Old:
            <span [style.margin-left]="'5px'" class="highlighted-val">Free</span>
      </span>

      <span class="check-point">
            <img alt="check-circle-icon" ngSrc="../../assets/icons/check-circle.svg" height="20" width="18">
            Children Aged 2 To 12 Years:
        <span [style.margin-left]="'5px'" class="highlighted-val">50% Off</span>

      </span>

    </div>

    <div class="divider"></div>

    <div class="group-3">

      <div class="price-container">
        <span class="price sora-font">
          $1350
        </span>
        <span>Per Night</span>
      </div>

      <div class="action-button sora-font">
        Book Now
      </div>

    </div>

  </div>


  <div class="filler"></div>

  <div class="bot sora-font">

    <span class="bot-title">Additional options available, not included in the standard offer:</span>

    <span class="check-point">
            <img alt="check-circle-icon" ngSrc="../../assets/icons/check-circle.svg" height="19" width="18">
      Completing Insurance As Needed
    </span>

    <span class="check-point">
            <img alt="check-circle-icon" ngSrc="../../assets/icons/check-circle.svg" height="20" width="18">
      Car Rental Services
    </span>

    <span class="check-point">
            <img alt="check-circle-icon" ngSrc="../../assets/icons/check-circle.svg" height="19" width="18">
      Assistance With Purchasing Tickets
    </span>
  </div>

</div>




