<div class="reservation-search sora-font">
  <div class="reservation-title">
    MAKE RESERVATION
  </div>
  <div class="reservation-form">

    <div class="form-group">

      <img ngSrc="../../assets/icons/from_date.svg" alt="Calendar Icon" height="40" width="40"/>


      <div class="input-group">

        <label for="from-date">
          <span class="form-label">FROM</span>
        </label>

        <select id="from-date" class="form-input">
          <option value="">Add Date</option>
          <!-- Populate with date options -->
        </select>

      </div>


    </div>

    <div class="divider"></div> <!-- Add divider here -->

    <div class="form-group">

      <img ngSrc="../../assets/icons/to_date.svg" alt="Calendar Icon" height="40" width="40"/>


      <div class="input-group">

        <label for="to-date">
          <span class="form-label">TO</span>
        </label>

        <select id="to-date" class="form-input">
          <option value="">Add Date</option>
          <!-- Populate with date options -->
        </select>

      </div>

    </div>


    <div class="divider"></div>

    <div class="form-group">

      <img ngSrc="../../assets/icons/people.svg" alt="People Icon" height="40" width="40"/>


      <div class="input-group">

        <label for="people">
          <span class="form-label">PEOPLE</span>
        </label>

        <select id="people" class="form-input">
          <option value="">Add Guest</option>
        </select>

      </div>

    </div>
    <button class="search-button">
      <img ngSrc="../../assets/icons/search.svg" alt="Search Icon" height="20" width="21"/>
      Search
    </button>
  </div>
</div>
