/* reservation-search.scss */

.reservation-search {

  background: #FFFFFF;
  padding: 20px 0 0 0;

  border-radius: 12px; /* Increase the visibility of the border radius */
  border: 1px solid #EFEFEF;
  width: 1200px; /* Fixed width */

  height: 200px; /* Reduced height */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Reduced gap between elements */

  .reservation-title {
    height: 60px;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
  }

  .reservation-form {

    background: #FAFAF5;
    width: 1150px; /* Fill width */
    padding: 12px;
    border-radius: 12px; /* Increase the visibility of the border radius */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* Gap between form groups */

    .form-group {

      width: 240px; /* Fill width */
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 6px; /* Reduced gap between label and input */


      img {
        width: 54px;
        height: 54px;
      }

      .input-group {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 12px; /* Gap between icon and select */


        .form-label {
          padding-left: 10px;
          font-family: 'Poppins', sans-serif;
          font-size: 18px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          color: #9C9C9C;
        }

        .form-input {
          font-family: 'Poppins', sans-serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 16px;
          text-align: left;
          padding: 10px;
          border: 0;
          border-radius: 5px;
          color: #616161;
          background: transparent;
          width: 100%; /* Fill width */
        }
      }
    }

    .divider {
      width: 1px;
      height: 40px; /* Adjust height as needed */
      background-color: #ddd; /* Divider color */
    }

    .search-button {
      width: 200px; /* Fixed width */
      height: 48px; /* Reduced height */
      background: #0B2434;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: flex;

      align-items: center;
      justify-content: center;
      gap: 12px; /* Gap between icon and text */

      margin-right: 40px;

    }
  }
}
