<div class="reservation-search sora-font">
  <div class="reservation-title">
    MAKE RESERVATION
  </div>
  <div class="reservation-form">
    <div class="form-group">
      <label for="from-date">
        <span class="form-label">FROM</span>
        <div class="input-group">
          <img src="../../assets/icons/from_date.svg" alt="Calendar Icon" height="20" width="20"/>
          <select id="from-date" class="form-input">
            <option value="">Add Date</option>
            <!-- Populate with date options -->
          </select>
        </div>
      </label>
    </div>
    <div class="divider"></div> <!-- Add divider here -->
    <div class="form-group">
      <label for="to-date">
        <span class="form-label">TO</span>
        <div class="input-group">
          <img src="../../assets/icons/to_date.svg" alt="Calendar Icon" height="20" width="21"/>
          <select id="to-date" class="form-input">
            <option value="">Add Date</option>
            <!-- Populate with date options -->
          </select>
        </div>
      </label>
    </div>
    <div class="divider"></div> <!-- Add divider here -->
    <div class="form-group">
      <label for="people">
        <span class="form-label">PEOPLE</span>
        <div class="input-group">
          <img src="../../assets/icons/people.svg" alt="People Icon" height="44" width="45"/>
          <select id="people" class="form-input">
            <option value="">Add Guest</option>
            <!-- Populate with people options -->
          </select>
        </div>
      </label>
    </div>
    <button class="search-button">
      <img src="../../assets/icons/search.svg" alt="Search Icon" height="20" width="21"/>
      Search
    </button>
  </div>
</div>
