/* LightSwitch component */

.light-switch {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 10%;
  display: flex;
  flex-direction: row;
  width: min-content;
  align-items: center;
  justify-content: center;

  .switch {
    cursor: pointer;
    border-radius: 50%;
    //background-color: rgb(204, 201, 194);
    transition: background-color 0.4s, box-shadow 0.3s;
    width: 15px;
    height: 15px;

    background: linear-gradient(to right, rgba(155, 155, 155, 0.1), rgba(155, 155, 155, 0.5));
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  .switch:hover {
    /*box-shadow: 0 0 10px 5px #fff,
    0 0 16px 10px #ff8800,
    0 0 23px 15px #ffcc00;*/
  }

  .switch.selected {
    background-color: transparent;
  }

  .switch.selected:hover {
  }

  .pointer {
    backdrop-filter: blur(2.6px);
    box-shadow: 0 0 10px 5px #fff,
    0 0 16px 10px #ff8800,
    0 0 23px 15px #ffcc00;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    background-color: #ffcc00;
    transition: transform 0.3s ease-out;
  }


}
