/* reservation-search.scss */

.reservation-search {

  width: 76vw;

  background: #FFFFFF;

  padding: 20px 20px 25px;
  border-radius: 12px; /* Increase the visibility of the border radius */
  border: 1px solid #EFEFEF;

  height: 170px;


  // novo
  box-shadow: 0 40px 90px -5px #D3D6DA7D;

  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;


  .reservation-title {
    height: 55px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(+7px);
  }

  .reservation-form {

    background: #FAFAF5;
    height: 80px;
    padding: 15px 70px;
    border-radius: 12px; /* Increase the visibility of the border radius */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* Gap between form groups */

    .form-group {
      height: 45px;
      width: 240px; /* Fill width */
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;

      img {
        width: 60px;
        height: 60px;
      }

      .input-group {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: auto;
        margin-bottom: auto;
        width: 160px;

        .form-label {
          padding-left: 12px;
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
          text-align: left;
          color: #9C9C9C;
        }


        .form-input {
          font-size: 16px;
          font-weight: 500;
          line-height: 12px;
          text-align: left;
          padding: 10px;
          border-radius: 5px;
          color: #616161;
          background: transparent;
          width: 100%; /* Fill width */
          cursor: pointer;
          border: 1px solid transparent;

        }

        //.form-input:hover {
        //  border: 1px solid #0B2434;
        //  transition: 0.2s;
        //
        //}


      }
    }

    .divider {
      width: 1px;
      height: 45px; /* Adjust height as needed */
      background-color: #E4E4E4; /* Divider color */
    }

    .search-button {
      width: 160px; /* Fixed width */
      height: 55px; /* Reduced height */
      background: #0B2434;
      color: #FFFFFF;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      font-size: 20px;

      img {
        width: 20px;

        height: 21px;

        transition: 0.15s;
      }
    }



  }
}
