<!-- contact-us.component.html -->
<div class="contact-us">
  <div class="content">
    <span class="title sora-font">CONTACT US</span>
    <div class="input-group">
      <input class="input-field sora-font" type="text" name="name" placeholder="Name">
      <input class="input-field sora-font" type="text" name="surname" placeholder="Surname">
      <input class="input-field sora-font" type="email" name="email" placeholder="Email">
      <textarea class="input-field sora-font" name="message" placeholder="Message..."></textarea>
    </div>
    <button class="action-button sora-font">Contact Us</button>
  </div>
</div>
