/* billboard.component */

.billboard {
  height: 70vh;
  margin-top: 5vh;
  top: 20px;
  //background-image: url("../../assets/screen3.jpg");
  //background-position: center; /* Center the image */
  //background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 90vw;
  margin-left: auto;
  margin-right: auto;

  .image {
    background-size: cover;
    background-repeat: no-repeat;
  }

}
