/* billboard.component.scss */

.billboard {
  height: 100vh;
  left: 0;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;

  .image {
    position: absolute;
    background-size: cover; /* Make sure the image covers the whole screen */
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    transition: visibility 0s, opacity 0.5s linear;
  }
}
