<div class="basic-offer">

  <div class="top">

    <div>

      <img ngSrc="assets/hero_section/screen0.jpg" height="4000" width="6000" alt="img">

      <div class="sora-font">

        <h2>BASIC OFFER</h2>

        <span>
            <img alt="check-circle-icon" ngSrc="assets/icons/check-circle.svg" height="19" width="18">
            Seven-Day Accommodation With Breakfast
          </span>

        <span>
            <img alt="check-circle-icon" ngSrc="assets/icons/check-circle.svg" height="19" width="18">
            A City Tour Accompanied By A Tour Guide
          </span>

        <span>
            <img alt="check-circle-icon" ngSrc="assets/icons/check-circle.svg" height="19" width="18">
            Transfer From Tivat Airport To The Accommodation
          </span>

        <span>
            <img alt="check-circle-icon" ngSrc="assets/icons/check-circle.svg" height="19" width="18">
            Transports From Other Airports Can Be Arranged For An Additional Fee.
          </span>

      </div>

    </div>

  </div>

  <div></div>

  <div></div>


</div>


<div class="bot">

</div>


