<div class="basic-offer">

  <div class="top sora-font">


    <div>

      <div class="group-1">

        <img ngSrc="assets/hero_section/screen0.jpg" height="4000" width="6000" alt="img">

        <div>

          <h2 class="main-title">BASIC OFFER</h2>

          <span class="check-point">
            <img alt="check-circle-icon" ngSrc="assets/icons/check-circle.svg" height="19" width="18">
            Seven-Day Accommodation With Breakfast
          </span>

          <span class="check-point">
            <img alt="check-circle-icon" ngSrc="assets/icons/check-circle.svg" height="19" width="18">
            A City Tour Accompanied By A Tour Guide
          </span>

          <span class="check-point">
            <img alt="check-circle-icon" ngSrc="assets/icons/check-circle.svg" height="19" width="18">
            Transfer From Tivat Airport To The Accommodation
          </span>

          <span class="check-point">
            <img alt="check-circle-icon" ngSrc="assets/icons/check-circle.svg" height="19" width="18">
            Transports From Other Airports Can Be Arranged For An Additional Fee.
          </span>

        </div>

      </div>

      <p>Reservations For 2 Or More People, Dinner At Local Winery is included.</p>

    </div>


    <div class="divider"></div>

    <div>
      <span class="section-title">Discount Based On Number Of People:</span>

      <span class="check-point">
            <img alt="check-circle-icon" ngSrc="assets/icons/check-circle.svg" height="19" width="18">
            Seven-Day Accommodation With Breakfast
      </span>

      <span class="check-point">
            <img alt="check-circle-icon" ngSrc="assets/icons/check-circle.svg" height="19" width="18">
            Seven-Day Accommodation With Breakfast
      </span>

      <span class="check-point">
            <img alt="check-circle-icon" ngSrc="assets/icons/check-circle.svg" height="19" width="18">
            Seven-Day Accommodation With Breakfast
      </span>

      <span class="section-title">Discounts for Children</span>

      <span class="check-point">
            <img alt="check-circle-icon" ngSrc="assets/icons/check-circle.svg" height="19" width="18">
            Children Up To 2 Years Old:
            <span class="highlighted-val">Free</span>
      </span>

      <span class="check-point">
            <img alt="check-circle-icon" ngSrc="assets/icons/check-circle.svg" height="19" width="18">
            Children Aged 2 To 12 Years:
        <span class="highlighted-val">50% Off</span>

      </span>


    </div>

    <span>Discount Based On Number Of People:</span>

    <div class="divider"></div>

    <div>
      <p class="main-price">
        $1350
      </p>

      <p class="label">
        Per Night
      </p>

      <div class="action-button">
        Book Now
      </div>
    </div>

  </div>


  <div class="bot">

    <span class="bot-title"> </span>

    <span class="check-point">
            <img alt="check-circle-icon" ngSrc="assets/icons/check-circle.svg" height="19" width="18">
      Completing Insurance As Needed
    </span>

    <span class="check-point">
            <img alt="check-circle-icon" ngSrc="assets/icons/check-circle.svg" height="19" width="18">
      Car Rental Services
    </span>
    <span class="check-point">
            <img alt="check-circle-icon" ngSrc="assets/icons/check-circle.svg" height="19" width="18">
      Assistance With Purchasing Tickets
    </span>
  </div>

</div>




