/* navigation.component */

.top-navigation {
  z-index: 9999;
  left: 0;
  opacity: 0.7;
  height: 150px;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  color: #FFFFFF;
  flex-direction: row;
  align-items: center;
  padding-left: 60%;
  //justify-content: center;

  .logo {
    position: fixed;
    top: 2%;
    left: 10%;
  }
  span {
    margin-right: 100px;
    cursor: pointer;
  }

  //span:hover {
  //  zoom: 1.1;
  //  color: orange;
  //}
}
