/* hero-section-component.scss */

.hero-section {

  font-size: 50px;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: white;

  .title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;

    span {
      font-size: 64px;
      line-height: 76px;
      font-weight: 600;
    }

    .text-billboard {
      font-size: 20px;
      line-height: 34px;
      font-weight: 400;
    }
  }


  app-light-switch {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



  app-action-button {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
  }



  app-reservation-search {
    position: absolute;
    top: calc(100% - 80px);
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
  }

  app-reservation-search:hover {
    transform: translate(-50%, -60%);
  }


  &.yScrollOffsetPassed {


    app-reservation-search:hover {


      transform: translateX(-50%);
    }
  }

}
