<!-- hero-section-component.html -->

<div class="hero-section" [class.yScrollOffsetPassed]="isThresholdPassed">

  <!-- background slideshow -->
  <app-billboard-component
    [currentDisplayedIndex]="currentDisplayedIndex">
  </app-billboard-component>

  <div class="center sora-font">

    <span class = "main-title">
      Welcome to Montenegro
    </span>

    <app-text-billboard class="text-billboard"
                        [texts]="texts"
                        [currentDisplayedIndex]="currentDisplayedIndex">
    </app-text-billboard>

    <app-action-button [onClick]="bookNowOnClick">
    </app-action-button>

  </div>


  <app-light-switch
    [initialSelectedIndex]=this.currentDisplayedIndex
    [numberOfSwitches]="4"
    (selectedSwitchChange)="this.currentDisplayedIndex = $event">
  </app-light-switch>



  <app-reservation-search>

  </app-reservation-search>
</div>
