/* hero-section-component.scss */

.hero-section {

  font-size: 50px;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: white;


  .center {

    height: min-content;
    width: 817px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-content: center;


    span.main-title {
      display: inline-block;
      font-size: 64px;
      line-height: 77px;
      font-weight: 600;
      color: #FFFFFF;
      margin-bottom: 10px;
    }

    app-text-billboard {
      display: block;
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 34px;
      font-weight: 400;
      color: #FFFFFF;
    }

  }


  app-light-switch {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }







  app-reservation-search {
    position: absolute;
    top: calc(100% - 65px);
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
  }

  app-reservation-search:hover {
    transform: translate(-50%, -60%);
  }


  &.yScrollOffsetPassed {


    app-reservation-search:hover {


      transform: translateX(-50%);
    }
  }

}
