<div class="hero-section">
  <!-- billboard component -->
  <app-billboard-component
    [currentDisplayedIndex]="currentDisplayedIndex">
  </app-billboard-component>

  <app-text-billboard class="text-billboard"
                      [texts]="texts"
                      [currentDisplayedIndex]="currentDisplayedIndex">
  </app-text-billboard>

  <app-light-switch
    [initialNumber]="5"
    [selectedSwitchIndex]="currentDisplayedIndex"
    (selectedSwitchChange)="currentDisplayedIndex = $event">
  </app-light-switch>
</div>
