<!-- hero-section-component.html -->

<div class="hero-section">
  <app-billboard-component
    [currentDisplayedIndex]="currentDisplayedIndex">
  </app-billboard-component>

  <h1 class="sora-font">
    Welcome to Montenegro
  </h1>

  <app-text-billboard class="text-billboard"
                      [texts]="texts"
                      [currentDisplayedIndex]="currentDisplayedIndex">
  </app-text-billboard>

  <app-light-switch
    [initialNumber]="5"
    [selectedSwitchIndex]="currentDisplayedIndex"
    (selectedSwitchChange)="currentDisplayedIndex = $event">
  </app-light-switch>

</div>
