<!-- footer.component.html -->

<div class="footer">

  <div class="content sora-font">

    <div class="group-1">

      <div class="group-1-1">
        <span class="section-title">Shopping Guide</span>
        <span class="section-item">Payment</span>
        <span class="section-item">Shipment</span>
        <span class="section-item">FAQ</span>
        <span class="section-item">Return Policy</span>
      </div>

      <div class="group-1-2">
        <span class="section-title">Site Map</span>
        <span class="section-item">Payment</span>
        <span class="section-item">Shipment</span>
        <span class="section-item">FAQ</span>
        <span class="section-item">Return Policy</span>
      </div>

      <div class="group-1-3">
        <span class="section-title">About</span>
        <span class="section-item">Company</span>
        <span class="section-item">Careers</span>
        <span class="section-item">Legal</span>
        <span class="section-item">Help</span>
      </div>

      <div class="group-1-4">
        <span class="section-title">Contact Details</span>
        <div class="group-1-4-1">

          <div class="group-1-4-1-1">

            <div class="address-info">

              <div class="icon-holder">
                <img ngSrc="../../assets/footer/map-pin.svg" height="24" width="24" alt="phone">
              </div>

              <div class="info">

                <span>Mite Calipr</span>
                <span>NY-10110, USA</span>

              </div>

            </div>

            <div class="phone-info">

              <div class="icon-holder">
                <img ngSrc="../../assets/footer/phone-call.svg" height="24" width="24" alt="phone">
              </div>

              <div class="info">
                <span>0011478895</span>
                <span>25 0148 458 658</span>
              </div>

            </div>

          </div>

          <div class="group-1-4-1-2">

            <div class="email-info">

              <div class="icon-holder">
                <img ngSrc="../../assets/footer/mail.svg" height="24" width="24" alt="phone">
              </div>

              <div class="info">
                <span>lnco&#64;gmail.com</span>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="group-2">

      <img class="payment-methods" ngSrc="../../assets/footer/payment-option.svg" alt="img" height="94" width="340">

      <div class="newsletter-form">

        <span class="form-title">Newsletter</span>

        <div class="input-form">

          <input class="input-field sora-font" type="email" name="email" placeholder="Email address">

          <span class="action-button">SUBSCRIBE</span>

          <div>

          </div>

        </div>

      </div>

    </div>

    <div class="group-3">

    </div>

  </div>

</div>
