/* text-writer */

.text-writer {
  position: relative;


  .character {
    visibility: hidden;
    opacity: 0;

    transform: translateX(-20px);
    transition: visibility 0.2s ease-out,
    opacity 0.2s ease-out,
    transform 0.4s ease-out;
    will-change: opacity, visibility, transform;

    &.visible {
      visibility: visible;
      opacity: 1;

      transform: translateX(0);
    }
  }
}
